#meDesc{
  font-family: sans-serif;
  width: 600px;
}

#me{
  width: auto;
  font-size: 150px;
  color: rgba(255, 166, 0, 0.544);
}


#pDescription{
  font-size: 25px;
}

img{
  width: 150px;
}


h1{
  font-size: 100px;
}

#goIn{
  height: 100vh;
}



#skills{
  font-size: 100px;
}

.card:last-child {
  margin-bottom: 29px;
}
#titolo{
  width: auto;
  font-size: 340px;
  height: 550px;
}

#dev{
  width: auto;
  font-size: 200px;
  height: 400px;
  position: relative;
  bottom: 100px;
}
#description{
 width: 600px;
 position: relative;
 left: 40px;
}

#cardOne:hover{
  transition: all 500ms;
  background-color: rgba(255, 166, 0, 0.544);
}

#second{
  position: relative;
  justify-content: center;
  align-items: center;
}

em{
  font-size: 20px;
}

em:hover{
  transition: all 500ms;
  color: rgba(255, 166, 0, 0.544);
}

#titolo:hover{
  transition: all 500ms;
  color: rgba(255, 166, 0, 0.544);
}
#dev:hover{
  transition: all 500ms;
  color: rgba(255, 166, 0, 0.544);
}


.prova{
  height: 100vh;
  position: static;
margin-left: -450px;
}

#allMobile{
  display: none;
}
@media screen and (max-width: 1640px) {

  #titolo {
    height: 150px;
    font-size: 7rem;
  }
  .prova{
    height: 100vh;
    position: relative;
    left: 459px;
  }

  #dev {
    height: 100px;

    font-size: 9.5rem;

    position: relative;
    left: 0;
    top: 20px;
  }
  #description {
    width: 900px;

    position: absolute;
    top: 610px;
    right: 900px;

    font-size: 1.5rem;
  }
  span:hover{
    transition: all 500ms;
    color: rgba(255, 166, 0, 0.544);
  }

  em{
    color: rgba(255, 166, 0, 0.544);
  }

  .secondPage{
   
    position: relative;
    left: 9px;
   
    
  }

  #second{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #allMobile{
    display: none;
  }

}




@media screen and (max-width: 1240px) {

  #titolo {
    height: 150px;
    font-size: 9rem;
  }
  #dev {
    height: 100px;
    font-size: 9.5rem;
  }
  #description {
    width: 900px;

    position: absolute;
    top: 610px;
    right: 900px;

    font-size: 1.5rem;
  }
  span:hover{
    transition: all 500ms;
    color: rgba(255, 166, 0, 0.544);
  }
  #allMobile{
    display: none;
  }


}


// @media screen and (max-width: 500px) {

//   #titolo {
//     height: 150px;
//     font-size: 7rem;
//   }
//   #dev {
//     height: 100px;
//     font-size: 9.5rem;
//   }
//   #description {
//     width: 900px;

//     position: absolute;
//     top: 490px;
//     right: 900px;

//     font-size: 1.5rem;
//   }
//   #titolo:hover{
//     transition: all 500ms;
//     color: rgba(255, 166, 0, 0.544);
//   }


 


//   #me{
//     width: auto;
//     font-size: 70px;
//     color: rgba(255, 166, 0, 0.544);
//   }

// }