p{
  font-family: sans-serif;
}

.card:last-child {
  margin-bottom: 27px;
}

#titolo{
  width: auto;
  font-size: 270px;
  height: 500px;
}
#dev{
  width: auto;
  font-size: 200px;
  height: 400px;
  position: relative;
  bottom: 100px;
}
#description{
 width: 400px;
 position: relative;

 left: 40px;

}

#second{
  position: relative;
  justify-content: center;
  align-items: center;
}

em{
  font-size: 20px;
}

em:hover{
  transition: all 500ms;
  color: rgba(255, 166, 0, 0.544);
}

#titolo:hover{
  transition: all 500ms;
  color: rgba(255, 166, 0, 0.544);
}
#dev:hover{
  transition: all 500ms;
  color: rgba(255, 166, 0, 0.544);
}







@media screen and (max-width: 768px) {
  /* Add responsive styles for smaller screens */
  #titolo {
    height: 150px;
    font-size: 7rem;
  }
  #dev {
    height: 100px;
    font-size: 9.5rem;
  }
  #description {
    width: 900px;

    position: absolute;
    top: 490px;
    right: 900px;

    font-size: 1.5rem;
  }
  #titolo:hover{
    transition: all 500ms;
    color: rgba(255, 166, 0, 0.544);
  }

}
@media screen and (max-width: 1240px) {
  /* Add responsive styles for smaller screens */
  #titolo {
    height: 150px;
    font-size: 7rem;
  }
  #dev {
    height: 100px;
    font-size: 9.5rem;
  }
  #description {
    width: 900px;

    position: absolute;
    top: 490px;
    right: 900px;

    font-size: 1.5rem;
  }
  span:hover{
    transition: all 500ms;
    color: rgba(255, 166, 0, 0.544);
  }

}
@media screen and (max-width: 1640px) {
  /* Add responsive styles for smaller screens */
  #titolo {
    height: 150px;
    font-size: 7rem;
  }
  #dev {
    height: 100px;

    font-size: 9.5rem;
    position: relative;
    top: 20px;
  }
  #description {
    width: 900px;

    position: absolute;
    top: 490px;
    right: 900px;

    font-size: 1.5rem;
  }
  span:hover{
    transition: all 500ms;
    color: rgba(255, 166, 0, 0.544);
  }

  em{
    color: rgba(255, 166, 0, 0.544);
  }

  .secondPage{
   
    position: relative;
    top: 300px;
    left: 250px;
  }

  #second{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}