<div class="prova w-full md:w-full">
  <p class="block  font-bold mb-1 fadeinright animation-duration-1000" id="me">I'M A</p>
  <div class="flex">


    <div class=" flex align-items-center fadeinleft animation-duration-1000  md:w-full">

      <section class="flex justify-content-center">
        <p class="block  font-bold mb-1" id="titolo">F</p>
        <p class="block  font-bold mb-1" id="titolo">R</p>
        <p class="block  font-bold mb-1" id="titolo">O</p>
        <p class="block  font-bold mb-1" id="titolo">N</p>
        <p class="block  font-bold mb-1" id="titolo">T</p>
        <p class="flex " id="titolo">—</p>

        <p class="block  font-bold mb-1" id="titolo">E</p>
        <p class="block  font-bold mb-1" id="titolo">N</p>
        <p class="block  font-bold mb-1" id="titolo">D</p>
      </section>

    </div>
  </div>
  <section class="flex">
    <p class="block  font-bold mb-1" id="dev">D</p>
    <p class="block  font-bold mb-1" id="dev">E</p>
    <p class="block  font-bold mb-1" id="dev">V</p>
    <p class="block  font-bold mb-1" id="dev">E</p>
    <p class="block  font-bold mb-1" id="dev">L</p>

    <p class="block  font-bold mb-1" id="dev">O</p>
    <p class="block  font-bold mb-1" id="dev">P</p>
    <p class="block  font-bold mb-1" id="dev">E</p>
    <p class="block  font-bold mb-1" id="dev">R</p>

    <section class="block  font-bold mb-1  " id="description">ABOUT ME
      <p id="meDesc">
        {{ 'ABOUTME'| translate }}
      </p>
    </section>
  </section>
</div>


<div class="flex flex-column col-12 text-center my-8 ">
  <div class=" p-col-12 mb-4 text-center " style="margin-top: 150px;" id="skills">{{"SKILLS"| translate}}</div>


  <div class="p-col-12 p-md-8 p-d-flex p-jc-center p-ai-center  " id="goIn">
    <div class="p-block">
      <div class="flex">
        <img src="'../../../../../../assets/layout/landing/Angular_full_color_logo.svg.png" alt="">
        <h1 class="text-red-500 text-center">ANGULAR</h1>
      </div>
      <p id="pDescription">{{'ANGULAR' | translate}}</p>
    </div>
  </div>

  <section class="p-col-12 p-md-8 p-d-flex p-jc-center p-ai-center " id="goIn">
    <div class="p-block">
      <div class="flex">
        <img src="'../../../../../../assets/layout/landing/js.png" alt="">
        <h1 class="text-yellow-500">
          JAVASCRIPT
        </h1>
      </div>
      <p id="pDescription">
        {{'JAVASCRIPT' | translate}}
      </p>
    </div>
  </section>
  <section class="p-col-12 p-md-8 p-d-flex p-jc-center p-ai-center " id="goIn">
    <div class="p-block">
      <div class="flex">
        <img src="'../../../../../../assets/layout/landing/ts.png" alt="">
        <h1 class="text-blue-500">
          TYPESCRIPT
        </h1>
      </div>
      <p id="pDescription">
        {{'TYPESCRIPT' |translate}}
      </p>
    </div>
  </section>
  <section class="p-col-12 p-md-8 p-d-flex p-jc-center p-ai-center my-8 " id="goIn">
    <div class="p-block">
      <div class="flex">
        <img src="'../../../../../../assets/layout/landing/html.png" alt="">
        <h1>
          HTML
        </h1>
      </div>
      <p id="pDescription">
        {{'HTML' |translate}}
      </p>
    </div>
  </section>
</div>



<div style="height: 109vh;">
  <h1 class="text-center text-black-500  font-bold w-full  " id="cv"> Antonio Abbruzzo's
    Professional Journey</h1>
  <pdf-viewer [src]="cvSource" style="display: block;  height: 50vh"></pdf-viewer>
</div>