#ciao{
  width: 14vw;
  
  img{
    object-fit: scale-down;
    width: 100%;
  
  }
}


.titolo{
display: flex;
justify-content: center;

}


#home_img{
  width: 150px;
}


@media screen and (max-width: 500px) {
#ciao{
  width: 30vw;
}

  }
