/* Stile del container del gioco */
.game-container {
  display: grid;
  grid-template-columns: repeat(4, 60px); /* Aumenta il numero di colonne e la larghezza delle celle */
  grid-gap: 93px; /* Aumenta la spaziatura tra le celle */
  background-color: #000000; /* Colore di sfondo del gioco */
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

/* Stile delle celle del gioco */
.cell {
  width: 155px; /* Aumenta la larghezza della cella */
  height: 155px; /* Aumenta l'altezza della cella */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #ffffff; /* Bordo della cella */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}



/* Stile del messaggio di vittoria/pareggio */
.winner {
  margin-top: 100px;
  width: 300px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}

.win{
  font-size: 30px;
  color: green;
}
.lose{
  font-size: 30px;
  color: rgb(195, 0, 0);
}
.draw{
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.bottone{
  width: 200px;
  margin-left: 50px;
}

@media screen and (max-width: 500px) {
  .game-container {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-gap: 5px;
    padding: 5px;
  }

  .cell {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  .winner {
    margin-top: 20px;
    width: 90%;
  }

  h2 {
    font-size: 14px;
  }

  .win, .lose, .draw {
    font-size: 16px;
  }

  .bottone {
    width: 120px;
    margin-left: 10px;
  }

  /* Aggiungi la classe .all sotto .game-container */
  .game-container {
    display: grid;
  }

  .all {
    display: grid;
  }
}