<p-button label="Home" (click)="comeBackHome()"></p-button>
<div class="card">
  <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>
<div class="card">
  <h3 class="text-center">
    Add your baby sleep description
  </h3>
  <form [formGroup]="nannaForm">
    <div class="field col">
      <label for="name">{{
        "DATE"
        }}</label>
      <input pInputText type="date" id="title" formControlName="date"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>

    <div class="field col">
      <label for="Born">{{
        "DURATION IN MINUTE"
        }}</label>
      <input pInputText type="number" id="publicationYear" formControlName="duration" class=" text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round
        appearance-none outline-none focus:border-primary w-full" />
    </div>
    <div class="field col">
      <label for="note">{{ "NOTE" }}</label>
      <input pInputText type="text" id="synopsis" formControlName="note"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>

    <p-button label="Registration" (click)="registerNannee()"></p-button>
  </form>
</div>

<div class="card">
  <div *ngFor="let item of nannaArray" class="card">
    <p>Date: {{item.date}}</p>
    <p>Weight: {{item.duration}}minute</p>
    <p>Note: {{item.note}}</p>
  </div>
</div>