<div>

  <p-progressSpinner *ngIf="show===false" class="flex justify-content-center my-8"></p-progressSpinner>
  <div class=" zoominleft animation-duration-1000 flex align-items-center justify-content-center
  font-bold  m-2 px-5 py-3 grid grid-nogutter flex justify-content-center " *ngIf="show===true">
    <div class="col-12 md:col-4">
      <div class="card m-3 border-1 surface-border shadow-1 ">
        <div class="zoominleft animation-duration-1000 flex align-items-center justify-content-center
        font-bold  m-2 px-5 py-3">
          <div class="flex align-items-center">
            <i class="pi pi-tag mr-2"></i>
            <span class="zoominleft animation-duration-1000 flex align-items-center justify-content-center
            font-bold  m-2 px-5 py-3">{{singleBrewey.country}}</span>
          </div>
        </div>
        <div class="zoominleft animation-duration-1000 flex align-items-center justify-content-center
        m-2 px-5 py-3 flex flex-column align-items-center text-center mb-3">
          <img [src]="'../../../../assets/layout/birrerie/birreria.jpg'" class="w-9 shadow-2 my-3 mx-0" id="immagine" />
          <div class="text-2xl font-bold">{{singleBrewey.name}}</div>
          <div class="mb-3">City: {{singleBrewey.city}}</div>
          <div class="mb-3">Type: {{singleBrewey.brewery_type}}</div>
        </div>
        <div
          class="zoominleft animation-duration-1000 flex align-items-center justify-content-center
        font-bold  m-2 px-5 py-3 flex align-items-center justify-content-center transition-transform transition-duration-500">
          <button pButton pRipple type="button" label="Back" (click)="comeBack()"></button>
        </div>
      </div>
    </div>
  </div>
</div>