<div class="curso">
  <div class=" custom-element">
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <h5 class="font-bold text-center">Hogwarts city</h5>

          <p-table [value]="wizards" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Category</th>
                <th>Elixirs</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-wizards>
              <tr class="op">
                <td><img src="'../../../../../../assets/layout/harryPotter/hg.gif" alt="" style="height: 50px;"></td>
                <td (click)="goTo(wizards.id)">
                  <p class="nome">{{wizards.firstName}}</p>
                </td>
                <td (click)="goTo(wizards.id)">
                  <p class="nome">{{wizards.lastName}}</p>
                </td>
                <td>Wizard</td>

                <td>
                  <span *ngFor="let elixir of wizards.elixirs">
                    <ul>
                      <p class="nome" (click)="showDialog()" (click)="getPotion(elixir.id)" icon="pi pi-external-link">
                        {{elixir.name}} </p>
                    </ul>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-dialog header="Elixir characteristics" [(visible)]="visible" [style]="{width: '90%'}">
            <div class="flex justify-content-center ">


              <p-card [header]="potions.name" [style]="{ width: '360px' }" class="shadow-1">
                <ng-template pTemplate="header">
                  <img alt="Card" src="../../../../assets/layout/harryPotter/giphy (1).gif" />
                </ng-template>
                <label class="font-bold">Ingredient</label>
                <div *ngFor="let item of potions.ingredients">
                  <p>{{item.name}}</p>
                </div>
                <label class="font-bold">Characteristics</label>
                <p>{{potions.characteristics}}</p>
                <label class="font-bold">Effects</label>
                <p>{{potions.effect}}</p>
                <div *ngFor="let all of potions.inventors">
                  <label class="font-bold">Inventors</label>
                  <p>{{all.firstName}} {{all.lastName}}</p>
                </div>
              </p-card>
            </div>
          </p-dialog>
        </div>
      </div>
    </div>
    <!-- Contenuto del tuo elemento -->
  </div>
</div>