<!-- app-book-list.component.html -->
<h1>WELCOME IN THIS LOW-COST SCHOOL</h1>

<button (click)="goToLibrary()"></button>
<div class="flex flex-wrap gap-3">
  <div *ngFor="let book of books; let i=index" class="p-col-12 p-md-4">
    <div>
      <p-card>
        <div class="text-center">
          <h3 class="font-bold">
            {{ book.title }}
          </h3>
        </div>

        <p class="text-center">
          {{ book.author }}
        </p>
        <div>
          <p class="bold text-center">{{ 'Year of Publication: ' + book.publicationYear }}</p>
        </div>
        <div (click)="showDescription(i)">
          <p>{{ 'Synopsis: ' + book.synopsis }}</p>
        </div>
      </p-card>
    </div>
  </div>
</div>